<<<<<<< HEAD
$theme-background-color: "white";
=======
$theme-background-color: #FAFAFA;
$theme-color: #262626;
>>>>>>> 159113acb120204a5473d083346472be11ff2e2f
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@mixin flex {
  display: flex;
}
@mixin flexJcAic {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexJcc {
  display: flex;
  justify-content: center;
}
@mixin flexAic {
  display: flex;
  align-items: center;
}
@mixin flexJcsb {
  display: flex;
  justify-content: space-between;
}
@mixin commonFont {
  font-family: “brown”,helvetica,arial,sans-serif;
  font-size: 16px;
  font-weight: 200;
}