@import "../../Styles/common.scss";

.searchBar {
  position: absolute;
  z-index: 100;
  width: 100%;
  .searchBarContainer {
    @include flexJcsb;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    height: 90px;
    padding: 0 50px;
    margin: 0 auto;
    .searchBarLogo {
      width: 132px;
      height: 45px;
    }
    .searchBarListWrap {
      @include flex;
      .searchBarList {
        padding: 25px 15px 25px 15px;
        font-weight: 500;
        font-size: 15px;
        div {
          font-size: 16px;
        }
        .mainList {
          @include flex;
          flex-wrap: wrap;
          justify-content: center;
          position: absolute;
          width: 100%;
          margin-top: 25px;
          padding-left: 150px;
          padding-right: 130px;
          padding-bottom: 50px;
          background-color: white;
          z-index: 3;
          left: 0;

          &.show {
            display: flex;
          }
          // &.hide {
          //   display: none;
          // }
        }
      }

      .searchBarList .mainList:nth-child(3) {
        @include flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        width: 100%;
        margin-top: 25px;
        padding-left: 150px;
        padding-right: 130px;
        padding-bottom: 50px;
        background-color: white;
        z-index: 3;
        left: 0;
      }
    }
    .searchBarInput {
      width: 100px;
      height: 20px;
    }
  }
}
