@import '../../Styles/common.scss';

.topBar {
  height: 45px;
  @include flex;
  align-items: center;
  justify-content: space-;
  background-color: #333;
  color: #999;
  position: relative;
  .navWrapper {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    margin: 0 72px;
    @include flexJcsb;
    align-items: center;
    .navLeft {
      @include flex;
      height: 100%;
      a {
        position: relative;
        display: block;
        padding: 12px;
      }
      .lightLogo {
        height: 20px;
      }
      .lightLogoA {
        background: url('https://www.logitech.com/content/dam/logitech/en/header/logitechg-bottom.svg')
          no-repeat;
        background-size: cover;
        width: 80px;
        opacity: 0.5;
      }
      .lightLogoA:hover {
        background: url('https://www.logitech.com/content/dam/logitech/en/header/logitechg-overlay.svg')
          no-repeat;
        background-size: cover;
        width: 80px;
        opacity: 1;
      }
      .lightLogoB {
        background: url('https://www.logitech.com/content/dam/logitech/common/header/jaybird-bottom.svg')
          no-repeat;
        background-size: cover;
        width: 80px;
        opacity: 0.5;
      }
      .lightLogoB:hover {
        background: url('https://www.logitech.com/content/dam/logitech/common/header/jaybird-overlay.svg')
          no-repeat;
        background-size: cover;
        width: 80px;
        opacity: 1;
      }
      .lightLogoC {
        background: url('https://www.logitech.com/content/dam/logitech/common/header/ue-bottom.svg')
          no-repeat;
        background-size: cover;
        width: 80px;
        opacity: 0.5;
      }
      .lightLogoC:hover {
        background: url('https://www.logitech.com/content/dam/logitech/common/header/ue-bottom.svg')
          no-repeat;
        background-size: cover;
        opacity: 1;
      }
      .lightLogoD {
        background: url('https://www.logitech.com/content/dam/logitech/common/header/astro-bottom.svg')
          no-repeat;
        background-size: cover;
        width: 80px;
        opacity: 0.5;
      }
      .lightLogoD:hover {
        background: url('https://www.logitech.com/content/dam/logitech/common/header/astro-overlay.svg')
          no-repeat;
        background-size: cover;
        width: 80px;
        opacity: 1;
      }
      .lightLogoE {
        background: url('https://www.logitech.com/content/dam/logitech/common/header/blue-bottom.svg')
          no-repeat;
        background-size: contain;
        width: 80px;
        opacity: 0.5;
      }
      .lightLogoE:hover {
        background: url('https://www.logitech.com/content/dam/logitech/common/header/blue-overlay.svg')
          no-repeat;
        background-size: contain;
        width: 80px;
        opacity: 1;
      }
    }
    .navRight {
      @include flex;
      a {
        line-height: 25px;
        font-size: 12px;
      }
      .flagLink {
        padding: 10px 20px 10px 5px;
      }
      .accountLink {
        padding: 10px 20px;
      }
      .cartLink {
        padding: 12px 0 10px 20px;
      }
      .flag {
        background: url(https://www.logitech.com/asset/images/flags/united-states.gif)
          no-repeat;
      }
    }
  }
}
