@import '../../../Styles/common.scss';

.searchBar {
  .productList:first-child {
    margin: 60px 40px 20px 150px;
  }
  .productList:nth-child(6) {
    margin: 60px 40px 20px 150px;
  }
  .productList {
    font-size: 15px;
    font-weight: 700;
    height: 100%;
    margin: 60px 20px 20px 60px;
  }
  .productList:first-child {
    margin: 60px 20px 20px 0;
  }
  .productList:nth-child(n + 6) {
    margin: 0 47px 20px 0;
  }
  .mainCategory {
    padding-bottom: 13px;
  }
  a li {
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 300;
  }
}
