@import "../../../Styles/common.scss";
.productListWrap {
  width: 180px;
  padding-top: 50px;

  .productList {
    width: 150px;
    padding-bottom: 13px;
    font-size: 15px;
  }
  a {
    li {
      margin-bottom: 13px;
      font-size: 14px;
      font-weight: 100;
    }
  }
}
