.solutionWrap {
  width: 150px;
  height: 140px;
  margin: 60px 20px 0 0px;

  .solutionList {
    width: 150px;
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 15px;
  }
  li {
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 100;

    a {
      opacity: 0.6;
    }
  }
}
